<div class="homepage-body container-fluid">
  <div class="row">
    <div class="col-4 offset-4 col-sm-6 offset-sm-3 text-center">
      <img class="img-fluid" src="../../assets/Img/CloudIcon.png" alt="Cloud services" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Hi there!</h1>
    </div>
    <div class="col-12 text-center">
      <h2>Welcome to my website</h2>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-4 col-sm-4 text-center text-sm-right text-md-center">
      <img class="img-fluid" src="../../assets/Img/WebsiteIcon.png" alt="Web development" />
    </div>
    <div class="offset-2 col-4 col-sm-4 text-center text-sm-left text-md-center">
      <img class="img-fluid" src="../../assets/Img/GamepadIcon.png" alt="Game development">
    </div>
  </div>
</div>
